@import"./mixin-variables";

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #FAFAFA;
  margin: 0 100px;
}

.container-button-infos{
  .contact_button {
    font-size: 15px;
    color: white;
    width: 117px;
    height: 50px;
    border: none;
    background-color: $background-color-button;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      @include hover-focus-button
    }
    &:focus{
      @include hover-focus-button
    }
  }
}
#contact_modal {
  //display: block;
  position: fixed;
  top: 114px;
  right: 283px;
  #error-firstname, #error-lastname, #error-email, #error-message {
    font-style: italic;
  }
}

.modal {
  border-radius: 5px;
  background-color: $background-color-modal-price;
  width: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  position: absolute;
  right: 189px;
  top: 30px;
  width: 31px;
}

.modal header h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding-bottom: 6%;
  text-align: initial;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  #text {
    width: 100%;
    border-radius: 5px;
    border: none;
  }
  .contact_button {
    font-size: 15px;
    font-weight: 700;
    color: white;
    width: 117px;
    height: 50px;
    border: none;
    background-color: $background-color-button;
    border-radius: 5px;
    cursor: pointer;
  }
}

form label {
  color: #312E2E;
  font-size: 23px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.photo-page-photographe{
  width: 20%;
  clip-path: ellipse(43% 43%);
  object-fit: cover;
}

.photograph-header{
  display: flex;
  justify-content: space-between;
  height: 180px;
  .container-button-infos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 5%;
    .container-infos{
      h1{
        color: $name-photographer;
      }
      .city-country {
        color: $primary-color;
      }
      p{
        font-size: 14px;
        color : $tagline-photographer
      }
    }
  }
}

.photograph-galery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 100px;
  article{
    width: 300px;
    height: 266px;
    margin-bottom: 3%;

    .media{
      width: 100%;
      height: 90%;
      object-fit: cover;
      margin-bottom: -5%;
    }
    .container-title-like {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $primary-color;
      .container-like{
        display: flex;
        width: 13%;
        justify-content: space-between;
        align-items: center;
        .fas{
          color: $background-color-button;
        }
      }
    }
  }
}

.price-total-like{
  display: flex;
  width: 17%;
  height: 50px;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  background-color: $background-color-modal-price;
  position: fixed;
  bottom: 0;
  right: 57px;
  .likes{
    width: 40%;
    .fas{
      margin-left: 5%;
    }
  }
}

.sort{
  margin: 10px 100px;
  .container-sort{
    .text-sort {
      font-weight: 700;
      font-size: 17px;
      margin-right: 3%;
    }
    #select-sort{
      background-color: $background-color-button;
      color: #FFF;
      padding: 0.5%;
      border-radius: 5px;
    }
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.90);
  z-index: 10;
  transition: opacity 300ms;
  background-color: white;

  .lightbox-next, .lightbox-prev{
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: $primary-color;
    border: none;
    background: url("../assets/icons/arrow.svg") center center / 50px 50px no-repeat;
    width: 50px;
    height: 105%;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: -14px;
    z-index: 11;
    text-indent: -3000px;
    cursor: pointer;
  }
  .lightbox-prev {
    right: auto;
    left:0;
    transform: rotate(180deg);
  
  }
  .lightbox-close {
    margin-right: 1.5%;
    border: none;
    background: url("../assets/icons/close-lightbox.svg") center center / 100% 100% no-repeat transparent;
    height: 29px;
    width: 50px;
    position: fixed;
    top: 26px;
    right: 7px;
    text-indent: -3000px;
    cursor: pointer;

    z-index: 12;
  }
 
  .media-container{
    margin-left: 50px;
    margin-right: 50px;
 
    /*
    pour centrer une image petite
    */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; //100% de la hauteur de l'écran
    img, video{
      max-width: 100%;
      width: 1050px;
      height: 900px;
      object-fit: cover;
    }
   
  }
}

