@import"./mixin-variables";


#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #FAFAFA;
  margin: 0 5%;
}

.container-button-infos{
  .contact_button {
    font-size: 15px;
    color: white;
    width: 117px;
    height: 50px;
    border: none;
    background-color: $background-color-button;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      @include hover-focus-button
    }
    &:focus{
      @include hover-focus-button
    }
  }
}
#contact_modal {
  position: fixed;
  top: 114px;
  right: 283px;
  #error-firstname, #error-lastname, #error-email, #error-message {
    font-style: italic;
    margin-top: 0;
  }
}

.modal {
  border-radius: 5px;
  background-color: $background-color-modal-price;
  width: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  position: absolute;
  right: 189px;
  top: 30px;
  width: 31px;
}


.modal header h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding-bottom: 6%;
  text-align: initial;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  #text {
    width: 100%;
    border-radius: 5px;
    border: none;
  }
  .contact_button {
    font-size: 15px;
    font-weight: 700;
    color: white;
    width: 117px;
    height: 50px;
    border: none;
    background-color: $background-color-button;
    border-radius: 5px;
    cursor: pointer;
  }
}

form label {
  color: #312E2E;
  font-size: 23px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.photo-page-photographe{
  width: 20%;
  clip-path: ellipse(37% 47%);
  object-fit: cover;
}

.photograph-header{
  display: flex;
  justify-content: space-between;
  height: 180px;
  .container-button-infos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 5%;
    .container-infos{
      h1{
        color: $name-photographer;
      }
      .city-country {
        color: $primary-color;
      }
      p{
        font-size: 14px;
        color : $tagline-photographer
      }
    }
  }
}

.photograph-galery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 5%;
  article{
    width: 30%;
    height: 266px;
    margin-bottom: 3%;

    .media{
      width: 100%;
      height: 90%;
      object-fit: cover;
      margin-bottom: -5%;
    }
    .container-title-like {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $primary-color;
      .container-like{
        display: flex;
        width: 13%;
        justify-content: space-between;
        align-items: center;
        .fas{
          color: $background-color-button;
        }
      }
    }
  }
}

.price-total-like{
  display: flex;
  width: 17%;
  height: 50px;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  background-color: $background-color-modal-price;
  position: fixed;
  bottom: 0;
  right: 57px;
  .likes{
    width: 40%;
    .fas{
      margin-left: 5%;
    }
  }
}

.sort{
  margin: 2% 5%;
  .container-sort{
    .text-sort {
      font-weight: 700;
      font-size: 17px;
      margin-right: 3%;
    }
    #select-sort{
      background-color: $background-color-button;
      color: #FFF;
      padding: 0.5%;
      border-radius: 5px;
    }
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.90);
  z-index: 10;
  transition: opacity 300ms;
  background-color: white;

  .lightbox-next, .lightbox-prev{
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: $primary-color;
    border: none;
    background: url("../assets/icons/arrow.svg") center center / 50px 50px no-repeat;
    width: 50px;
    height: 105%;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: -14px;
    z-index: 11;
    text-indent: -5000px;
    cursor: pointer;
  }
  .lightbox-prev {
    right: auto;
    left:0;
    transform: rotate(180deg);
  
  }
  .lightbox-close {
    margin-right: 1.5%;
    border: none;
    background: url("../assets/icons/close-lightbox.svg") center center / 100% 100% no-repeat transparent;
    height: 29px;
    width: 50px;
    position: fixed;
    top: 26px;
    right: 7px;
    text-indent: -5000px;
    cursor: pointer;

    z-index: 12;
  }
 
  .media-container{
    margin-left: 10%;
    margin-right: 9%;
    /*
    pour centrer une image petite
    */
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh; //100% de la hauteur de l'écran
    img, video{
      max-width: 100%;
      width: 1050px;
      height: 700px;
      object-fit: contain;
    }
    p {
      text-align: initial;
      color: $primary-color;
      font-weight: 400;
      font-size: 20px;
    }
  }
}

//version tablette - entre 425 et 770px
@media screen and (min-width:425px) and (max-width:770px){
  .photograph-header{
    margin : 0% 5%;
    height: 130px;
    .container-button-infos {
      margin-left: 0%;
      .contact_button{
        width: 25%;
        font-size: 10px;
        height: 35px;
      }
      .container-infos{
        h1 {
          font-size: 20px;
          margin-right: 0;
        }
        .city-country{
          font-size: 15px;
        }
        p{
          font-size: 15px;
        }
      }
    }
  }
  .sort {
    margin: 3% 5%;
  }
  .photograph-galery {
    margin: 3% 5%;
    article {
      width: 30%;
      height: 215px;
      .media{
        height: 70%;
      }
      .container-title-like{
        p{
          font-size: 13px;
        }
        .container-like{
          width: 30%;
          span{
            margin-right: 5%;
            font-size: 13px;
          }
        }
      }
    }
  }
  .price-total-like{
    width: 35%;
  }
  #contact_modal {
    right: 18px;
    .modal{
      height: 100%;
      header{
        h2{
          font-size: 25px;
          padding-bottom: 0;
        }
        img{
          width : 20px;
          right: 100px;
        }
        margin-bottom: 5%;
      }
      form div{
        margin-bottom: 0;
      }
      form label {
        font-size: 15px;
      }
    }
  }
  .photo-page-photographe {
    clip-path: ellipse(47% 35%);
  }
  .lightbox{
    .lightbox-next, .lightbox-prev{
      background: url(../assets/icons/arrow.svg) center center/28px 37px no-repeat;
      width: 28px;
      height: 103%;
    }
    .media-container{
      margin-left: 8%;
      margin-right: 8%;
      img, video{
        height: 700px;
      }
    }
  }
  
}
@media screen and (min-width:771px) and (max-width:1200px) {
  .photograph-header{
    // margin: 0 5%;
    justify-content: space-around;
    .container-button-infos{
      width: 70%;
      margin-left: 0;
      justify-content: space-around;
      .contact_button{
        width: 30%;
      }
      .container-infos{
        h1{
          font-size: 34px;
          margin-right: 0%;
        }
      }
    }
  }
  .sort{
    width: 90%;
    // margin: 2% 5%;
  }
  .photograph-galery{
    // margin: 0 5%;
    article{
      width: 30%;
      .media{
        height: 80%;
      }
      .container-title-like{
        .container-like{
          width: 22%;
        }
      }
    }
  }
  .price-total-like{
    width: 25%;
  }
  .photo-page-photographe{
    clip-path: ellipse(49% 39%);
  }
  #contact_modal{
    right: 0;
  }
  .lightbox{
    .lightbox-next, .lightbox-prev{
      background: url(../assets/icons/arrow.svg) center center/50px 41px no-repeat;
      width: 24px;
    }
    .media-container{
      img, video {
        height: 700px;
      }
    }
  }
}

// Breakpoints pour réglage media lightbox
@media screen and (min-width:1016px) and (max-width:1210px) {
  .photo-page-photographe{
    clip-path: ellipse(41% 45%);
  }
  #contact_modal {
    right: 200px;
    top: 100px
  }
}

@media screen and (min-width:1330px) and (max-width:1400px) {
  .lightbox .media-container{
    margin-left: 11%;
    margin-right: 10%;
  }
}
@media screen and (min-width:1401px) and (max-width:1500px) {
  .lightbox .media-container{
    margin-left: 14%;
  }
}

@media screen and (min-width:1501px) and (max-width:1599px) {
  .lightbox .media-container{
    margin-left: 16%;
  }
}
@media screen and (min-width:1600px) and (max-width:1750px) {
  .lightbox .media-container{
    margin-left: 18%;
  }
  #contact_modal {
    right: 400px;
    top: 400px
  }
}

@media screen and (min-width:1751px) and (max-width:1900px) {
  .lightbox .media-container{
    margin-left: 21%;
  }
  #contact_modal {
    right: 500px;
    top: 400px
  }
}
@media screen and (min-width:1901px) and (max-width:2200px) {
  .photo-page-photographe {
    clip-path: ellipse(34% 48%);
  }
  .lightbox .media-container{
    margin-left: 25%;
  }
  #contact_modal {
    right: 650px;
    top: 400px
  }
}
@media screen and (min-width:2201px) and (max-width:2500px) {
  .lightbox .media-container{
    margin-left: 29%;
  }
  #contact_modal {
    right: 900px;
    top: 400px
  }
  .photo-page-photographe {
    clip-path: ellipse(29% 47%);
  }
}

@media screen and (min-width:2500px) {
  .lightbox .media-container{
    margin-left: 31%;
  }
  #contact_modal {
    right: 900px;
    top: 400px
  }
  .photo-page-photographe {
    clip-path: ellipse(26% 47%);
  }
}

@media screen and (min-width:1601px)  {
  .lightbox .lightbox-close {
    text-indent: 10000px;
  }
  .lightbox .lightbox-prev {
    text-indent: 10000px;
  }
  .lightbox .lightbox-next {
    text-indent: 10000px;
  }
  .lightbox .media-container{
    p{
      font-size: 30px;
    }
  }
  .photograph-header{
    height: 250px;
  }
  // .photo-page-photographe{
  //   clip-path: ellipse(41% 48%);
  // }
  .photograph-header .container-button-infos .container-infos h1 {
    font-size: 50px;
  }
  .photograph-header .container-button-infos .container-infos .city-country  {
    font-size: 40px;
  }
  .photograph-header .container-button-infos .container-infos p {
    font-size: 25px;
  }
  .container-button-infos .contact_button {
    font-size: 25px;
    height: 80px;
    width: 200px;
  }
  .sort {
    // margin: 50px 100px;
    .container-sort{
    .text-sort {
      font-size: 30px;
    }
    #select-sort {
      padding: 0.5%;
      width: 10%;
    }
  }
  }
  .photograph-galery article {
    width: 30%;
    height: 400px;
    .media{
      height: 300px;
      margin-bottom: 0;
    }
    .container-title-like {
      font-size: 30px;
    }
  }
  .price-total-like {
    width: 20%;
    height: 100px;
    font-size: 30px;
  }
  
  .modal{
    width: 100%;
    header h2 {
      margin-top: 12%;
      font-size: 50px;
    }
    header img {
      right: 0;
    }
  }
  form label {
    margin-top: 5%;
    font-size: 25px;
  }
  form input {
    height: 60px;
  }

}
