@import"./mixin-variables";



#contact_modal {
  display: none;
  position: fixed;
  top: 110px;
  top:20%;
  right: 25%;
  #error-firstname, #error-lastname, #error-email, #error-message {
    font-style: italic;
    margin-top: 0;

  }
}

.modal {
  border-radius: 5px;
  background-color: $background-color-modal-price;
  width: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;

}

.modal header h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding-bottom: 6%;
  text-align: initial;
 
}

.close-modal{
  background-color: $background-color-modal-price;
  border: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  align-self: baseline;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  #text {
    width: 100%;
    border-radius: 5px;
    border: none;
  }
  .contact_button {
    font-size: 15px;
    font-weight: 700;
    color: white;
    width: 117px;
    height: 50px;
    border: none;
    background-color: $background-color-button;
    border-radius: 5px;
    cursor: pointer;
  }
}

form label {
  color: #312E2E;
  font-size: 23px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.photograph-header{
  background-color: #FAFAFA;
  margin: 0 5%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  height: 180px;
  align-items: center;
  .container-button-infos {
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 60%;
      .contact_button {
        font-size: 15px;
        color: white;
        width: 117px;
        height: 50px;
        border: none;
        background-color: $background-color-button;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
          @include hover-focus-button
        }
        &:focus{
          @include hover-focus-button
        }
      }
    .container-infos{
      h1{
        color: $name-photographer;
      }
      .city-country {
        color: $primary-color;
      }
      p{
        font-size: 14px;
        color : $tagline-photographer
      }
    }
  }
  .photo-page-photographe{
    object-fit: cover;
    border-radius: 50%;
    width: 15%;
    height: 90%;
  }
}

.photograph-galery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 5%;
  article{
    width: 30%;
    height: 266px;
    margin-bottom: 3%;

    .media{
      width: 100%;
      height: 90%;
      object-fit: cover;
      margin-bottom: -5%;
    }
    .container-title-like {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $primary-color;
      .container-like{
        display: flex;
        width: 13%;
        justify-content: space-between;
        align-items: center;
        .fas{
          color: $background-color-button;
        }
      }
    }
  }
}

.price-total-like{
  display: flex;
  width: 17%;
  height: 50px;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  background-color: $background-color-modal-price;
  position: fixed;
  bottom: 0;
  right: 57px;
  .likes{
    width: 40%;
    .fas{
      margin-left: 5%;
    }
  }
}

.sort{
  margin: 2% 5%;
  .container-sort{
    .text-sort {
      font-weight: 700;
      font-size: 17px;
      margin-right: 3%;
    }
    #select-sort{
      background-color: $background-color-button;
      color: #FFF;
      padding: 0.5%;
      border-radius: 5px;
    }
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.90);
  z-index: 10;
  transition: opacity 300ms;
  background-color: white;

  .lightbox-next, .lightbox-prev{
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: $primary-color;
    border: none;
    background: url("../assets/icons/arrow.svg") center center / 50px 50px no-repeat;
    width: 50px;
    height: 105%;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: -14px;
    z-index: 11;
    text-indent: -5000px;
    cursor: pointer;
  }
  .lightbox-prev {
    right: auto;
    left:0;
    transform: rotate(180deg);
  
  }
  .lightbox-close {
    margin-right: 1.5%;
    border: none;
    background: url("../assets/icons/close-lightbox.svg") center center / 100% 100% no-repeat transparent;
    height: 29px;
    width: 50px;
    position: fixed;
    top: 26px;
    right: 7px;
    text-indent: -5000px;
    cursor: pointer;

    z-index: 12;
  }
 
  .media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; //100% de la hauteur de l'écran
    img, video{
      max-width: 85%;
      width: 1050px;
      height: 700px;
      object-fit: contain;
    }
    p {
      align-self: flex-start;
      margin-left: 18%;
      color: $primary-color;
      font-weight: 400;
      font-size: 20px;
    }
  }
}

//version tablette - entre 425 et 770px
@media screen and (min-width:425px) and (max-width:770px){
  .photograph-header{
    margin : 0% 5%;
    height: 150px;
    .container-button-infos {
      margin-left: 0%;
      width: 67%;
      .contact_button{
        font-size: 10px;
        height: 35px;
      }
      .container-infos{
        h1 {
          font-size: 20px;
          margin-right: 0;
        }
        .city-country{
          font-size: 15px;
        }
        p{
          font-size: 15px;
        }
      }
    }
    .photo-page-photographe{
      width: 22%;
      height: 79%;
    }
  }
  .sort {
    margin: 3% 5%;
  }
  .photograph-galery {
    margin: 3% 5%;
    article {
      width: 30%;
      height: 215px;
      .media{
        height: 70%;
      }
      .container-title-like{
        p{
          font-size: 13px;
        }
        .container-like{
          width: 30%;
          span{
            margin-right: 5%;
            font-size: 13px;
          }
        }
      }
    }
  }
  .price-total-like{
    width: 35%;
  }
  #contact_modal {
    .modal{
      header{
        margin-bottom: 5%;
        h2{
          font-size: 22px;
        }
      }
      form div{
        margin-bottom: 0;
      }
      form label {
        font-size: 15px;
      }
    }
  }
  .lightbox{
    .lightbox-next, .lightbox-prev{
      background: url(../assets/icons/arrow.svg) center center/28px 37px no-repeat;
      width: 28px;
      height: 103%;
    }
  }
}
@media screen and (min-width:771px) and (max-width:950px) {
  .photo-page-photographe{
    width: 23%;
    height: 91%;
  }
}

@media screen and (min-width:951px) and (max-width:1200px) {
  .photo-page-photographe{
    width: 19%;
    height: 91%;
  }
}

@media screen and (min-width:771px) and (max-width:1200px) {
  .photograph-header{
    .container-button-infos{
      width: 70%;
      margin-left: 0;
      .contact_button{
        width: 30%;
      }
      .container-infos{
        h1{
          font-size: 34px;
          margin-right: 0%;
        }
      }
    }
  }
  .sort{
    width: 90%;
  }
  .photograph-galery{
    article{
      width: 30%;
      .media{
        height: 80%;
      }
      .container-title-like{
        .container-like{
          width: 22%;
        }
      }
    }
  }
  .price-total-like{
    width: 25%;
  }
  .modal header h2{
    font-size: 29px;
  }
 
  .lightbox{
    .lightbox-next, .lightbox-prev{
      background: url(../assets/icons/arrow.svg) center center/50px 41px no-repeat;
      width: 24px;
    }
  }
}
@media screen and (min-width:1201px) and (max-width:1600px) {
  .photo-page-photographe{
    width: 15%;
    height: 90%;
  }
}

@media screen and (min-width:2201px) {
  .lightbox .media-container{
    img, video{
      height: 1400px;
    }
  }
  .photo-page-photographe{
    width: 12%;
    height: 90%;
  }
}

@media screen and (min-width:1601px)  {
  .lightbox .lightbox-close {
    text-indent: 10000px;
  }
  .lightbox .lightbox-prev {
    text-indent: 10000px;
  }
  .lightbox .lightbox-next {
    text-indent: 10000px;
  }
  .lightbox .media-container{
    p{
      font-size: 30px;
    }
  }
  .photograph-header{
    height: 250px;
  }

  .photograph-header .container-button-infos .container-infos h1 {
    font-size: 50px;
  }
  .photograph-header .container-button-infos .container-infos .city-country  {
    font-size: 40px;
  }
  .photograph-header .container-button-infos .container-infos p {
    font-size: 25px;
  }
  .container-button-infos .contact_button {
    font-size: 25px;
    height: 80px;
    width: 200px;
  }
  .sort {
    .container-sort{
      .text-sort {
        font-size: 30px;
      }
      #select-sort {
        padding: 0.5%;
        width: 10%;
      }
    }
  }
  .photograph-galery article {
    width: 30%;
    height: 400px;
    .media{
      height: 300px;
      margin-bottom: 0;
    }
    .container-title-like {
      font-size: 30px;
    }
  }
  .price-total-like {
    width: 20%;
    height: 100px;
    font-size: 30px;
  }
  
  .modal{
    width: 100%;
    header h2 {
      margin-top: 12%;
      font-size: 50px;
    }
    header img {
      right: 0;
    }
  }
  form label {
    margin-top: 5%;
    font-size: 25px;
  }
  form input {
    height: 60px;
  }

}
