#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #FAFAFA;
  margin: 0 100px;
}

.container-button-infos .contact_button {
  font-size: 15px;
  color: white;
  width: 117px;
  height: 50px;
  border: none;
  background-color: #911C1C;
  border-radius: 5px;
  cursor: pointer;
}

.container-button-infos .contact_button:hover {
  background-color: #DB8876;
  color: black;
  font-weight: 700;
}

.container-button-infos .contact_button:focus {
  background-color: #DB8876;
  color: black;
  font-weight: 700;
}

#contact_modal {
  position: fixed;
  top: 114px;
  right: 283px;
}

#contact_modal #error-firstname, #contact_modal #error-lastname, #contact_modal #error-email, #contact_modal #error-message {
  font-style: italic;
  margin-top: 0;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  position: absolute;
  right: 189px;
  top: 30px;
  width: 31px;
}

.modal header h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 6%;
  text-align: initial;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form #text {
  width: 100%;
  border-radius: 5px;
  border: none;
}

form .contact_button {
  font-size: 15px;
  font-weight: 700;
  color: white;
  width: 117px;
  height: 50px;
  border: none;
  background-color: #911C1C;
  border-radius: 5px;
  cursor: pointer;
}

form label {
  color: #312E2E;
  font-size: 23px;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.photo-page-photographe {
  width: 20%;
  -webkit-clip-path: ellipse(37% 47%);
          clip-path: ellipse(37% 47%);
  -o-object-fit: cover;
     object-fit: cover;
}

.photograph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px;
}

.photograph-header .container-button-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}

.photograph-header .container-button-infos .container-infos h1 {
  color: #D3573C;
}

.photograph-header .container-button-infos .container-infos .city-country {
  color: #901C1C;
}

.photograph-header .container-button-infos .container-infos p {
  font-size: 14px;
  color: #525252;
}

.photograph-galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 100px;
}

.photograph-galery article {
  width: 30%;
  height: 266px;
  margin-bottom: 3%;
}

.photograph-galery article .media {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -5%;
}

.photograph-galery article .container-title-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #901C1C;
}

.photograph-galery article .container-title-like .container-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 13%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photograph-galery article .container-title-like .container-like .fas {
  color: #911C1C;
}

.price-total-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 17%;
  height: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DB8876;
  position: fixed;
  bottom: 0;
  right: 57px;
}

.price-total-like .likes {
  width: 40%;
}

.price-total-like .likes .fas {
  margin-left: 5%;
}

.sort {
  margin: 10px 100px;
}

.sort .container-sort .text-sort {
  font-weight: 700;
  font-size: 17px;
  margin-right: 3%;
}

.sort .container-sort #select-sort {
  background-color: #911C1C;
  color: #FFF;
  padding: 0.5%;
  border-radius: 5px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  background-color: white;
}

.lightbox .lightbox-next, .lightbox .lightbox-prev {
  margin-left: 1.5%;
  margin-right: 1.5%;
  color: #901C1C;
  border: none;
  background: url("../assets/icons/arrow.svg") center center/50px 50px no-repeat;
  width: 50px;
  height: 105%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -14px;
  z-index: 11;
  text-indent: -3000px;
  cursor: pointer;
}

.lightbox .lightbox-prev {
  right: auto;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lightbox .lightbox-close {
  margin-right: 1.5%;
  border: none;
  background: url("../assets/icons/close-lightbox.svg") center center/100% 100% no-repeat transparent;
  height: 29px;
  width: 50px;
  position: fixed;
  top: 26px;
  right: 7px;
  text-indent: -3000px;
  cursor: pointer;
  z-index: 12;
}

.lightbox .media-container {
  margin-left: 50px;
  margin-right: 50px;
  /*
    pour centrer une image petite
    */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.lightbox .media-container img, .lightbox .media-container video {
  max-width: 100%;
  width: 1050px;
  height: 900px;
  -o-object-fit: contain;
     object-fit: contain;
}

.lightbox .media-container p {
  text-align: initial;
  color: #901C1C;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (min-width: 425px) and (max-width: 770px) {
  .logo {
    margin: 2% 5%;
    margin-left: 0%;
  }
  .photograph-header {
    margin: 2% 5%;
    height: 130px;
  }
  .photograph-header .container-button-infos .contact_button {
    width: 35%;
    font-size: 15px;
    height: 35px;
  }
  .photograph-header .container-button-infos .container-infos h1 {
    font-size: 20px;
    margin-right: 0;
  }
  .photograph-header .container-button-infos .container-infos .city-country {
    font-size: 15px;
  }
  .photograph-header .container-button-infos .container-infos p {
    font-size: 15px;
  }
  .sort {
    margin: 0 5%;
  }
  .photograph-galery {
    margin: 3% 5%;
  }
  .photograph-galery article {
    width: 30%;
  }
  .photograph-galery article .media {
    height: 80%;
  }
  .photograph-galery article .container-title-like .container-like {
    width: 22%;
  }
  .photograph-galery article .container-title-like .container-like span {
    margin-right: 5%;
  }
  .price-total-like {
    width: 25%;
  }
  #contact_modal {
    right: 131px;
  }
  #contact_modal .modal {
    height: 100%;
  }
  #contact_modal .modal header {
    margin-bottom: 5%;
  }
  #contact_modal .modal header h2 {
    font-size: 30px;
    padding-bottom: 0;
  }
  #contact_modal .modal form div {
    margin-bottom: 0;
  }
  #contact_modal .modal form label {
    font-size: 15px;
  }
  .lightbox .lightbox-next, .lightbox .lightbox-prev {
    background: url(../assets/icons/arrow.svg) center center/28px 37px no-repeat;
    width: 28px;
    height: 103%;
  }
  .lightbox .media-container img, .lightbox .media-container video {
    height: 700px;
  }
}

@media screen and (min-width: 771px) and (max-width: 1200px) {
  .photograph-header {
    margin: 0 5%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .photograph-header .container-button-infos {
    width: 70%;
    margin-left: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .photograph-header .container-button-infos .contact_button {
    width: 30%;
  }
  .photograph-header .container-button-infos .container-infos h1 {
    font-size: 34px;
    margin-right: 0%;
  }
  .sort {
    width: 90%;
    margin: 2% 5%;
  }
  .photograph-galery {
    margin: 0 5%;
  }
  .photograph-galery article {
    width: 30%;
  }
  .photograph-galery article .media {
    height: 80%;
  }
  .photograph-galery article .container-title-like .container-like {
    width: 22%;
  }
  .price-total-like {
    width: 25%;
  }
  .photo-page-photographe {
    -webkit-clip-path: ellipse(49% 39%);
            clip-path: ellipse(49% 39%);
  }
  #contact_modal {
    right: 0;
  }
  .lightbox .lightbox-next, .lightbox .lightbox-prev {
    background: url(../assets/icons/arrow.svg) center center/50px 41px no-repeat;
    width: 24px;
  }
  .lightbox .media-container img, .lightbox .media-container video {
    height: 700px;
  }
}

@media screen and (min-width: 1016px) and (max-width: 1210px) {
  .photo-page-photographe {
    -webkit-clip-path: ellipse(41% 45%);
            clip-path: ellipse(41% 45%);
  }
}

@media screen and (min-width: 1601px) {
  .lightbox .lightbox-close {
    text-indent: 10000px;
  }
  .lightbox .lightbox-prev {
    text-indent: 10000px;
  }
  .lightbox .lightbox-next {
    text-indent: 10000px;
  }
  .photograph-header {
    height: 250px;
  }
  .photo-page-photographe {
    -webkit-clip-path: ellipse(29% 48%);
            clip-path: ellipse(29% 48%);
  }
  .photograph-header .container-button-infos .container-infos h1 {
    font-size: 50px;
  }
  .photograph-header .container-button-infos .container-infos .city-country {
    font-size: 40px;
  }
  .photograph-header .container-button-infos .container-infos p {
    font-size: 25px;
  }
  .container-button-infos .contact_button {
    font-size: 25px;
    height: 80px;
    width: 200px;
  }
  .sort {
    margin: 50px 100px;
  }
  .sort .container-sort .text-sort {
    font-size: 30px;
  }
  .sort .container-sort #select-sort {
    padding: 0.5%;
    width: 10%;
  }
  .photograph-galery article {
    width: 30%;
    height: 400px;
  }
  .photograph-galery article .media {
    height: 300px;
    margin-bottom: 0;
  }
  .photograph-galery article .container-title-like {
    font-size: 30px;
  }
  .price-total-like {
    width: 20%;
    height: 100px;
    font-size: 30px;
  }
  #contact_modal {
    right: 900px;
    top: 400px;
  }
  .modal {
    width: 100%;
  }
  .modal header h2 {
    margin-top: 12%;
    font-size: 50px;
  }
  .modal header img {
    right: 0;
  }
  form label {
    margin-top: 5%;
    font-size: 25px;
  }
  form input {
    height: 60px;
  }
}
/*# sourceMappingURL=photographer.css.map */