@import"./mixin-variables";
@import url("photographer.css");


body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    margin-bottom: 5%;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: $primary-color;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    a {
        text-decoration: none;
    }
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    p{
        font-size: 12px;
        color: black;
        margin: 2% auto;
        +span{
            color: $color-typo-price;
            font-size: 12px;
        }
    }
  
}

.photographer_section article h2 {
    color: $name-photographer;
    font-size: 25px;
    text-align: center;
    margin: 3% auto;
    +span {
        color: $primary-color;
        font-size: 12px;
    }

}

.photographer_section article img {
    height: 200px;
    width: 200px;
    clip-path: ellipse(42% 42%);
    object-fit: cover;
}